
.message{
	font-size: 15px;
	font-weight: normal;
	color: #3c3c5c;
}
.message b{
	font-size: 15px;
	font-weight: bold;
	color: #fc3c5c;
}

a.printer{
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
	color: #3c3c5c;
}
a.printer:hover{
	text-decoration: underline;
}
a.printer * { vertical-align: middle; border: none; }
a.printer img { max-width: 50px; }

.pedido_wrapper{
	margin: 0 auto;
	margin-top: 20px;
	text-align: left;
	width: 95%;
	max-width: 760px;
	border: 1px dotted gray;
	font-size: 14px;
}

.a_right{
	display: inline-block;
	float: right;
}

.status_0, .status_1, .status_2, .status_5, .status_6 {
	font-weight: bold;
	color: #fc3c5c;
}
.status_3, .status_4 {
	font-weight: bold;
	color: #3cfc5c;
} 

.under_back{
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
	font-size: 14px;
	color: #3c3c5c;
}

.under_back:hover{
	text-decoration: underline;
}

.cod_barras { 
	display: inline-block !important;
	width: auto !important; 
}

.pre_footer img {
	width: 100%;
	max-width: 540px;
}
.wrap{
	padding: 30px;
}

.logo01{
	display: block;
}
.logo02{
	display: none;
}

@media screen and ( max-width: 600px ) {
	.logo01{
		display: none;
	}
	.logo02{
		display: block;
	}
}
img.barras{
	width: 90%;
	max-width: 350px;
}